DB_SCRAPPER_HOST=postgres
DB_SCRAPPER_PORT=5432
DB_SCRAPPER_USERNAME=user
DB_SCRAPPER_PASSWORD=56692
DB_SCRAPPER_NAME=storage
DB_SCRAPPER_ACCESS_TYPE=SQL

GITHUB_TOKEN=""
STACKOVERFLOW_TOKEN=""
SCRAPPER_GITHUB_TIMEOUT=10
SCRAPPER_STACKOVERFLOW_TIMEOUT=10

DB_BOT_HOST=postgres-1
DB_BOT_PORT=5433
DB_BOT_USERNAME=user-1
DB_BOT_PASSWORD=566921
DB_BOT_NAME=storage

APP_TELEGRAM_TOKEN=56692

KAFKA_USER=user1
KAFKA_PASSWORD=29665
KAFKA_TOPIC=updates
KAFKA_CONSUMER_GROUP=updates-consumer
KAFKA_BROKER=kafka:9092

VALKEY_HOST=valkey
VALKEY_PORT=6379
VALKEY_USERNAME=default
VALKEY_PASSWORD=566922

VALKEY_CACHE_TTL=30
VALKEY_TIMEOUT=5

JOB_DURATION=600

BOT_COMMUNICATION_TYPE=KAFKA

CACHE=TRUE

SCRAPPER_CLIENT_TIMEOUT=5
SCRAPPER_CLIENT_RETRY_ATTEMPTS=3
SCRAPPER_CLIENT_RETRY_DELAY=500
SCRAPPER_CLIENT_CB_RATIO_THRESHOLD=0.6
SCRAPPER_CLIENT_CB_MIN_REQUESTS=10
SCRAPPER_CLIENT_CB_OPEN_WINDOW=15
